<app-menu-header></app-menu-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size-md="2" offset-md="10" size="12" class="ion-float-right">

        <form [formGroup]="this.sellerService.status">
          <ion-item>
            <ion-label position="floating">Status</ion-label>
            <ion-select formControlName="name" (ionChange)="filterSellers(this.sellerService.status.value.name)">
              <ion-select-option value="">All</ion-select-option>
              <ion-select-option value="Verified">Verified</ion-select-option>
              <ion-select-option value="Unverified">Unverified</ion-select-option>
            </ion-select>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-grid>
    <ion-row>
      <ion-col size-md="12" size="12">
        <ion-card>

          <ion-row class="tableTop wt">
            <ion-col size="12" size-md="2">
              <h2 ion-text text-md-center class="wt">Shop Name</h2>
            </ion-col>
            <ion-col size="12" size-md="2">
              <h2 ion-text text-md-center class="wt">Owner Name</h2>
            </ion-col>
            <ion-col size="12" size-md="2">
              <h2 ion-text text-md-center class="wt">Owner Contact</h2>
            </ion-col>
            <ion-col size="12" size-md="2">
              <h2 ion-text text-md-center class="wt">Status</h2>
            </ion-col>
            <ion-col size="12" size-md="2">
              <h2 ion-text text-md-center class="wt">Address</h2>
            </ion-col>
            <ion-col size="12" size-md="2">

            </ion-col>
          </ion-row>
          <app-loader *ngIf="showLoader"></app-loader>

          <div class=" noBacki ">
            <ion-row *ngFor="let s of sellers | async">
              <ion-col size="12" size-md="2">
                <p ion-text color="grr" class="ion-text-center tableText">{{s.payload.doc.data().storeName | uppercase}}</p>
              </ion-col>

              <ion-col size="12" size-md="2">
                <p ion-text color="grr" class="ion-text-center tableText">{{s.payload.doc.data().ownerName | uppercase}}</p>
              </ion-col>

              <ion-col size="12" size-md="2">
                <p ion-text color="grr" class="ion-text-center tableText">{{s.payload.doc.data().phonenumber}}</p>
              </ion-col>

              <ion-col size="12" size-md="2">
                <p ion-text color="grr" class="ion-text-center tableText">{{s.payload.doc.data().Status | uppercase}}</p>
              </ion-col>
              <ion-col size="12" size-md="2">
                <p ion-text color="grr" class="ion-text-center tableText">{{s.payload.doc.data().address | uppercase}}</p>
              </ion-col>
              <ion-col size="12" size-md="2">
                <ion-button fill="clear" class="ion-float-left" (click)="sellerDetail(s.payload.doc.id)">
                  Details
                </ion-button>
              </ion-col>
            </ion-row>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>