<app-menu-header></app-menu-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" offset-md="3">

        <!-- <ion-card>
          <ion-card-header>
            <ion-card-title color="primary">Admin</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list lines="none">
              <ion-item>
                <p slot="start">Name</p>
                <p slot="end">{{admin.name}}</p>
              </ion-item>
              <ion-item>
                <p slot="start">Email</p>
                <p slot="end">{{admin.email}}</p>
              </ion-item>
              <ion-item>
                <p slot="start">Phone</p>
                <p slot="end">{{admin.phone}}</p>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card> -->

        <ion-card *ngIf="!editSettings">
          <ion-card-header>
            <ion-item lines="none">
              <ion-card-title slot="start" color="primary">Settings</ion-card-title>
              <ion-button (click)="editSettingsFun()" slot="end">
                <ion-icon name="create"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-card-header>
          <ion-card-content>
            <app-loader *ngIf="showLoader"></app-loader>
            <ion-list lines="none" *ngIf="!showLoader">
              <ion-item>
                <p slot="start">Commission</p>
                <p slot="end">{{settings.commission}}</p>
              </ion-item>
              <ion-item>
                <p slot="start">Payment Key</p>
                <p slot="end">{{settings.paymentKey}}</p>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>







        <ion-card *ngIf="editSettings">
          <ion-card-header>
            <ion-card-title color="primary">Edit Settings</ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <form [formGroup]="this.commonService.settings">

              <ion-item>
                <ion-label position="floating">Commission</ion-label>
                <ion-input type="number" formControlName="commission"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Payment Key</ion-label>
                <ion-input type="text" formControlName="paymentKey"></ion-input>
              </ion-item>

              <ion-button class="ion-margin-top ion-float-right" (click)="onSubmit()">Update</ion-button>
              <ion-button class="ion-margin-top ion-float-right" color="light" (click)="cancel()">Cancel</ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>