<app-menu-header></app-menu-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-card class="banner">
                    <img [src]="seller.bannerImage" />
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col size="12" size-md="6">
                <ion-card>
                    <ion-card-content>
                        <ion-item>
                            <ion-button slot="end" (click)="confirmVerify()" *ngIf="!verified">Verify Seller</ion-button>
                            <ion-button slot="end" (click)="confirmUnVerify()" *ngIf="verified">Unverify Seller</ion-button>
                        </ion-item>

                        <ion-item>
                            <p slot="start" color="primary">Store Name</p>
                            <p slot="end">{{seller.storeName}}</p>
                        </ion-item>

                        <ion-item>
                            <p slot="start" color="primary">Status</p>
                            <p slot="end">{{seller.Status}}</p>
                        </ion-item>

                        <ion-item>
                            <p slot="start" color="primary">Store Category</p>
                            <p slot="end">{{seller.storeCategory}}</p>
                        </ion-item>

                        <ion-item>
                            <p slot="start" color="primary">PhoneNumber</p>
                            <p slot="end">{{seller.phonenumber}}</p>
                        </ion-item>

                        <ion-item>
                            <p slot="start" color="primary">Owner Name</p>
                            <p slot="end">{{seller.ownerName}}</p>
                        </ion-item>

                        <ion-item>
                            <p slot="start" color="primary">Email</p>
                            <p slot="end">{{seller.email}}</p>
                        </ion-item>

                        <ion-item>
                            <p slot="start" color="primary">Store Location</p>
                            <p slot="end">{{seller.StoreLocation}}</p>
                        </ion-item>

                        <ion-item>
                            <p slot="start" color="primary">Visible to Users</p>
                            <p slot="end">{{seller.Visible}}</p>
                        </ion-item>

                        <ion-item>
                            <p slot="start" color="primary">Store Created</p>
                            <p slot="end">{{seller.timeStamp}}</p>
                        </ion-item>

                    </ion-card-content>
                </ion-card>
            </ion-col>

            <ion-col size="12" size-md="6">
                <ion-card>
                    <ion-card-content>
                        <ion-card-title>Products</ion-card-title>
                        <ion-item *ngFor="let p of products | async">
                            <h3 slot="start">{{p.payload.doc.data().name}}</h3>
                            <ion-button slot="end" (click)="productDetail(p.payload.doc.id)" fill="clear">View</ion-button>
                        </ion-item>
                    </ion-card-content>
                </ion-card>
            </ion-col>



        </ion-row>
    </ion-grid>

</ion-content>