<app-menu-header name="Support"></app-menu-header>

<ion-content padding>

  <ion-grid>
    <ion-row>

      <ion-col size="12" size-md="6" (click)="gtUsers()">
        <ion-card style="height : 300px;">
          <ion-card-content>
            <h1 class="titles">Faq's Users</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>


      <ion-col size="12" size-md="6" (click)="gtVendors()">
        <ion-card style="height : 300px;">
          <ion-card-content>
            <h1 class="titles">Faq's Vendor</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>



    </ion-row>
  </ion-grid>


</ion-content>