<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add {{mdmName | uppercase}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>

      <form (ngSubmit)="onSubmit()" [formGroup]="mdmForm">

        <ion-item *ngFor="let question of questions">
          <ion-label position="floating">{{question.label}}</ion-label>

          <div style="width: 100%;" [ngSwitch]="question.controlType">

            <ion-input *ngSwitchCase="'textbox'" [formControlName]="question.key" [id]="question.key"
              [type]="question.type">
            </ion-input>

            <ion-select *ngSwitchCase="'dropdown'" [formControlName]="question.key">
              <ion-select-option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}
              </ion-select-option>
            </ion-select>
          </div>
        </ion-item>
        <ion-button class="ion-float-right" type="submit">Save</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>