<app-menu-header></app-menu-header>


<ion-content>


    <app-loader *ngIf="showLoader"></app-loader>

    <ion-grid>
        <ion-row>
            <ion-col size="12" size-md="6" *ngFor="let b of banners | async">
                <img [src]="b.payload.doc.data().imageUrl">
                <div class="editBtns">
                    <ion-button color="danger" (click)="confirmDelete(b.payload.doc.data(),b.payload.doc.id)">
                        <ion-icon name="trash"></ion-icon>
                    </ion-button>
                </div>
            </ion-col>
        </ion-row>

    </ion-grid>




    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="gtAddBanner()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>