<app-back-header name="{{mdmName}}"></app-back-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" push-md="2">

        <ion-row>
          <ion-col size="12">
            <ion-button class="ion-float-end" (click)="addMDM()">Add {{mdmName}}</ion-button>
          </ion-col>
        </ion-row>



        <ion-card>
          <ion-card-content>

            <ion-grid>
              <ion-row>
                <ion-col *ngFor="let f of fields">
                  <ion-toolbar>
                    <ion-title>
                      {{f.label}}
                    </ion-title>
                  </ion-toolbar>

                  <!-- <ion-item *ngFor="let d of mdmObservable | async">
                    {{d.payload.doc.data().name}}
                  </ion-item> -->
                </ion-col>
              </ion-row>


              <ion-row>
                <ion-col>
                  <ion-item *ngFor="let d of mdmObservable | async">
                    {{d.payload.doc.data().name}}
                  </ion-item>
                </ion-col>
              </ion-row>


            </ion-grid>



          </ion-card-content>
        </ion-card>



      </ion-col>
    </ion-row>

  </ion-grid>




</ion-content>