<app-back-header name="{{name}}"></app-back-header>
<ion-content>
  <ion-item lines="none">
    <ion-title>
      Add Banner
    </ion-title>
  </ion-item>


  <ion-card padding>

    <ion-item lines="none">
      *Please keep all the images of same ratios
    </ion-item>


    <form [formGroup]="this.bannerService.banner">

      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>

      <ion-item *ngIf="!img1">
        <ion-label position="floating">Select Image</ion-label>
        <ion-input type="file" (change)="fileChange($event)" class="select" accept="image/x-png,image/gif,image/jpeg" id="file-input"
          style="opacity: 0" #fileInp></ion-input>
      </ion-item>



    </form>

    <ion-item *ngIf="img1">

      <img [src]="img1" class="imgView margin" />
      <div class="editBtns">
        <ion-button class="btnTrash" color="danger" (click)="removeImage()">
          Remove
        </ion-button>
      </div>


    </ion-item>

    <ion-button color="danger" (click)="UploadPic()">Add Banner</ion-button>




  </ion-card>


</ion-content>